.searchContainer {
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.counter {
  color: turquoise;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-left: 0.5rem;
}

.searchInput {
  width: 95%;
  color: cadetblue;
  font-size: 1em;
}
